.AddFolder {
   background-color: #1f395e;
   padding-top: 20px;
   padding-bottom: 209px;

  }
  
  .AddFolder h2 {
    color: rgb(180, 180, 180);
    font-size: 30px;
    text-align: left;
    margin-left: 15%;
  }

  .formFolder {
    background-color: #394a61;
    color: #dedede;
    padding: 16px;
    max-width: 340px;
    margin-left: 10%;
  }
  
  .formFolder label {
    display: block;
    font-size: 20px;
    padding-bottom: 8px;
  }
  
  .formFolder  input,
  .formFolder  textarea,
  .formFolder select {
    font-size: 14px;
    padding: 10px;
    width: 300px;
  }
  
  .formFolder  select {
    height: 33px;
  }
  
  .formFolder > .buttons {
    margin-top: 26px;
  }
  
  .formFolder button {
    background-color: black;
    border-radius: 10px;
    border: 0;
    color: white;
    display: block;
    margin-left: 35%;
    font-size: 18px;
    font-weight: bold;
    padding: 8px;
    text-align: center;
  }
  .formFolder  button[type="submit"]:hover {
    background-color: #a84e24;
    color: white;
  }