.Note {
    background-color: #0a1c35;
    position: relative;
    color: #cacaca;
    margin-bottom: 10px;
    max-width: 380px;
    padding: 30px 0 35px 8px;
  }
  
  .NoteDelete {
    --note-button-height: 40px;
    background-color: #041a3a;
    border: 0;
    color: #bdbcbc;
    float: right;
    font-size: 15px;
    height: var(--note-button-height);
    position: relative;
    top: calc((var(--note-button-height) + 50px) * -1);
    transform-origin: right bottom;
    transform: rotate(-90deg);
  }
  .NoteDelete:hover {
    background-color: red;
    color: white;
    cursor: pointer;
    font-weight: bold;
  }
  
  .NoteTitle {
    font-size: 20px;
    margin: 0;
    min-height: 24px;
  }
  .NoteTitle a {
    color: #cacaca;
    display: block;
    text-align: center;
    font-size: 30px;
    text-decoration: none;
  }
  .NoteTitle a:hover {
    color: #FFB72F;
  }
  