.ListMain ul {
    margin: 0;
    padding: 10px;
  }
  
  .ListMainButton {
    max-width: 360px;
    margin: 0 10px;
  }
  
  .ListMainNote {
    margin: 0 auto 20px;
  }
  .ListMainNote:hover {
    background-color: #6fff6a;
    color: white;
  }